<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Mentor | Single Price Grid Component</title>
    <link rel="stylesheet" href="index.css">

  </head>
  <body class="d-flex">
    <div class="container">
      <div class="ourCommunity">
        <h2>Join our community</h2>
        <p class="money white">30-day, hassle-free money back guarantee</p>
        <p class="tutorials">
          Gain access to our full library of tutorials along with expert code
          reviews.<br>
          Perfect for any developers who are serious about honing their skills.
        </p>
      </div>

      <div class="featured-sections  d-flex">
        <div class="monthlySubscription">
          <h3 class="h3 white">Monthly Subscription</h3>
            <p class="pricing d-flex"><span class="white"> $29</span>per month</p>
          <p class="white">Full access for less than &dollar;1 a day</p>
          <input type="button" class="btn" value=" Sign Up" />
        </div>
        <div class="whyUs">
          
          
            <h3 class="white">Why Us</h3>
            <ul>
            <li>Tutorials by industry experts</li>
            <li>Peer &amp; expert code review</li>
            <li>Coding exercises</li>
            <li>Access to our GitHub repos</li>
            <li>  Community forum</li>
            <li> Flashcard decks</li>
            <li>  New videos every week</li>
          </ul>
          
        </div>
      </div>
    </div>
  </body>
</html>
